<ion-header>
  <ion-navbar>
    <ion-title>
      Scrabble
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map_canvas"></div>
  <ion-grid>
    <ion-row justify-content-center>
        <button ion-button round (click)="addNew()">Add</button>
        <button ion-button round (click)="clear()">Clear all</button>
        <!-- <button ion-button style="background-color: black" (click)="onButtonClick($event)">My Location</button> -->
    </ion-row>
  </ion-grid>
  <ion-item-divider>Entity List</ion-item-divider>
  <span *ngIf="entity_list">
    <ion-card *ngFor="let e of entities">
      <img [src]="e.imageURL">
      <ion-card-content>
        <ion-card-title>
          {{e.name}}
          </ion-card-title>
        <p>
          {{e.description}}
        </p>
        <p *ngIf="e.lat!=-1">Latitude: {{e.lat}}</p>
        <p *ngIf="e.long!=-1">Longitude: {{e.long}}</p>
      </ion-card-content>
    </ion-card>
  </span>
  
</ion-content>
